Source: golang-github-gorilla-sessions
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Shengjing Zhu <zhsj@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-gorilla-securecookie-dev,
Standards-Version: 4.6.1
Homepage: https://github.com/gorilla/sessions
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-gorilla-sessions
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-gorilla-sessions.git
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-go
XS-Go-Import-Path: github.com/gorilla/sessions

Package: golang-github-gorilla-sessions-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-github-gorilla-securecookie-dev,
         ${misc:Depends},
         ${shlibs:Depends},
Description: save cookie and filesystem sessions and allow custom session backends
 This package provides a Go library that implements methods to save
 cookies and filesystem sessions and allows custom session backends.
 It is provided by Gorilla which is a web toolkit for the Go
 programming language.
 .
 Features:
   - Simple API: use it as an easy way to set signed cookies
   - Cookies can optionally be enycrpted
   - Built-in backends to store sessions in cookies on the filesystem
   - Flash messages: session values that last until read
   - Session persistency switching
   - Methods to rotate authentication and encryption keys
   - Multiple sessions per request, even using different backends
   - Support for custom session backends
